<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Area Codes</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
		<div class="jumbotron" style="background-color: #CCCCCC; width: 80%; margin-left: auto; margin-right:auto;" >
			<p style="text-align: center; background-color: grey; border-radius:4px; border:2px dashed #333333; width: 50%; margin-left: auto; margin-right: auto; color:white;"> Entrez votre code postal, nous faisons le reste ! </p>
			<form action="/" method="post" style="text-align: center; margin-bottom: 10px;" class="form-inline" >
				<label for="pc">Code Postal:</label>
				<input class="form-control" type="text" name="cp">
				<input type="submit" style="text-align: center" class="btn btn-default">
			</form>
			<p style="text-align: center">
				<%= messageConseil %>
			</p>
			<p style="text-align: center">
				<%= retourCP %>
			</p>
		</div>
		
	</body>
</html>
