<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Area Codes</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        
		<div class="jumbotron" >
			<p style="text-align: center"> Entrez votre code postal, nous faisons le reste ! </p>
			<form action="/" method="post" style="text-align: center; margin-bottom: 10px;" >
				<input type="text" name="pc">
				<input type="submit" style="text-align: center">
			</form>
			<p style="text-align: center">
				<%= test %>
			
			</p>
		</div>
		
	</body>
</html>
